* {
    margin : 0;
    padding : 0;
}

html {
    font-size : 100%;
}

h2 {
    line-height : 1.5em;
    padding : .3em 0;
}

body {
    color : #0a0a0a;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato", sans-serif;
    background-color : #ebf0f2;
}

.page-header {
    margin : 0 15px;
}

.page-title-container {
    background-color : #3a4b52;

    .page-title-component {
        position : relative;
        color : #fff;

        > h1 {
            font-weight : 400;
        }
    }
}

.details-list {
    list-style-type : none;

    > .details-list-item {

        > label {
            margin-top : 5px;
            margin-bottom : 0;
            vertical-align : top;
        }

        > .detail {
            margin-top : 5px;
            font-weight : normal;
        }
    }
}

.select-dropdown {
    max-width : 100%;
}

.field-list {
    list-style-type : none;

    .field-list-item {

        + .field-list-item {
            margin-top : 2em;
        }

        > .title {
            margin-top : 0;
        }

        > .period {
            margin-top : 1em;
            list-style-type : none;
        }
    }
}


.table-wrap {
    > table {
        width : 100%;

        th,
        td {
            padding : 0.5rem 1rem;
        }
    }

    .table-header {
        background-color : #f2f2f2;
        border : 1px solid #e0e0e0;
    }

    .t-row {
        background-color : #fff;
        border : 1px solid #ededed;

        > td {
            padding-top : 1.25rem;
            padding-bottom : 1.25rem;
        }
    }
}

.breadcrumb {
    margin-top : .5rem;
    margin-bottom : 1rem;
    background : none;
    border : 1px solid #ddd;

    & > li + li::before {
        content: "> ";
    }
}

.search-wrap {
    padding-bottom : 1rem;
    margin-bottom : 1rem;
    border : 1px solid #eee;

    .search {
        max-width : 400px;
    }
}

.pivots {
    position : absolute;
    right : 0;
    top : 1.5em;

    > .name {
        z-index : 10;
        display : inline-block;
        font-weight : normal;
    }

    .page-title-container & {
        color : #fff;
    }

    button.account-toggle {
        border : none;
        background : none;
    }

    .chevron {
        float : right;
        margin-top : .5em;
        margin-left : .5em;
    }
}

.system-message-wrap {
    background-color : #dce2e5;
}

.system-message {
    display : inline-block;
    margin-top : .2em;
    margin-bottom : .2em;
}


.chevron {
    position:relative;
    display:block;
    height:16px;/*height should be double border*/
    width : 16px;
}
.chevron:before,
.chevron:after{
    position:absolute;
    display:block;
    content:"";
    border:8px solid transparent;/*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.chevron:before{
    top:0;
    border-top-color:#fff;/*Chevron Color*/
}
.chevron:after{
    top:-1px;/*adjust thickness*/
    border-top-color:#3a4b52;/*Match background colour*/
}


/**
 * Copied
 * =============================
 */
.tab-bar-wrap {
    background-color : #fff;
}

.tab-bar {
    position : relative;
    height : 60px;

    .tabs {
        position : absolute;
        left : 0;
        bottom : 0;

        .tab {
            display : inline-block;
            padding : 8px 0;
            font-size :18px;
            background-color : transparent;
            border : none;
            border-bottom : 3px solid transparent;

            + .tab {
                margin-left : 1em;
            }
        }

        .tab-off {
            color : #aaa;
        }

        .tab-on {
            border-color : #4abee2;
        }
    }

    .add-btn {
        position : absolute;
        top : 13px;
        right : 0;
    }
}
/**
 * =============================
 * End Copied
 */
