* {
    margin : 0;
    padding : 0;
}

html {
    font-size : 100%;
}

h2 {
    line-height : 1.5em;
    padding : .3em 0;
}

body {
    color : #0a0a0a;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato", sans-serif;
    background-color : #ebf0f2;
}

.page-title-container {
    background-color : #3a4b52;

    .page-title-component {
        color : #fff;

        > h1 {
            font-weight : 400;
        }
    }
}

.details-list {
    list-style-type : none;

    > .details-list-item {

        > .detail {
            font-weight : normal;
        }
    }
}

.select-dropdown {
    max-width : 100%;
}

.field-list {
    list-style-type : none;

    .field-list-item {

        + .field-list-item {
            margin-top : 2em;
        }

        > .title {
            margin-top : 0;
        }

        > .period {
            margin-top : 1em;
            list-style-type : none;
        }
    }
}


.table-wrap {
    > table {
        width : 100%;

        th,
        td {
            padding : 0.5rem 1rem;
        }
    }

    .table-header {
        background-color : #f2f2f2;
        border : 1px solid #e0e0e0;
    }

    .t-row {
        background-color : #fff;
        border : 1px solid #ededed;

        > td {
            padding-top : 1.25rem;
            padding-bottom : 1.25rem;
        }
    }
}

/**
 * Copied
 * =============================
 */
.tab-bar-wrap {
    background-color : #fff;
}

.tab-bar {
    position : relative;
    height : 60px;

    .tabs {
        position : absolute;
        left : 0;
        bottom : 0;

        .tab {
            display : inline-block;
            padding : 8px 0;
            font-size :18px;
            background-color : transparent;
            border : none;
            border-bottom : 3px solid transparent;

            + .tab {
                margin-left : 1em;
            }
        }

        .tab-off {
            color : #aaa;
        }

        .tab-on {
            border-color : #4abee2;
        }
    }

    .add-btn {
        position : absolute;
        top : 13px;
        right : 0;
    }
}
/**
 * =============================
 * End Copied
 */
