* {
    margin : 0;
    padding : 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato", sans-serif;
    background-color : #ebf0f2;
}

.page-title-container {
    background-color : #3a4b52;

    .page-title-component {
        color : #fff;

        > h1 {
            font-weight : 400;
        }
    }
}