.collection-exercise-list-component {
    padding-bottom : 50px;

    .breadcrumb {
        margin : 0;
    }

    .survey-list {
        margin-top : 2rem;

        td {
            font-size : 1rem;
        }
    }
}